.pageWrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  @media (max-width: 990px) {
    flex-direction: column-reverse;
  }
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  width: 50%;
  @media (max-width: 990px) {
    width: 100%;
    margin-top: 50px;
  }
}

.textSection {
  max-width: 600px;
  @media (max-width: 990px) {
    max-width: 900px;
  }
}

.heading {
  font-size: 48px;
  color: #2c3e50;
  font-weight: bold;
}

.description {
  font-size: 20px;
  font-weight: 500;
  color: #6c757d;
  margin: 30px 0;
  line-height: 1.5;
  letter-spacing: 0.2px;
}

.buttonGroup {
  display: flex;
  gap: 20px;
}

.imageSection {
  position: relative;
  width: 50%;
  height: 100vh;
  overflow: hidden;
  @media (max-width: 1400px) {
    width: 100%;
  }
}

.detailSection {
  display: flex;
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
}

.styledVideo {
  width: 100%;
  height: auto;
}

.detail2 {
  width: 500px;
  position: absolute;
  right: 10%;
  @media (max-width: 1400px) {
    width: 85%;
    bottom: 20px;
    right: 0;
    margin: 0 auto;
    left: 10%;
  }
}

.detail3 {
  width: 500px;
  position: absolute;
  left: 10%;
  color: white;
  @media (max-width: 1400px) {
    width: 85%;
    bottom: 20px;
    margin: 0 auto;
  }
}

.section4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 50px;
  background-color: #f9f9f9;
  text-align: center;
  height: 500px;
  gap: 50px;
}

.section4Title {
  color: #2c3e50;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}
